Dictionaries

In [1]:
student = {
    "name": "Alex",
    "course": "MSc Data Analytics",
    "year": 2025,
    "is_active": True
}

student

{'name': 'Alex',
 'course': 'MSc Data Analytics',
 'year': 2025,
 'is_active': True}

In [5]:
student["name"]

'Alex'

Combining Dictionary + Condition

In [6]:
job_role = "Data Analyst"
salary = 48000

if salary >= 50000:
    print(job_role, "is well paid")
else:
    print(job_role, "is entry level")

Data Analyst is entry level

In [7]:
person = {
    "name": "Your Name",
    "age": 23
}

if person["age"] >= 18:
    print("Adult")
else:
    print("Minor")

Adult

Loop + Condition

In [8]:
jobs = [
    {"title": "Data Analyst", "salary": 48000},
    {"title": "Data Scientist", "salary": 70000},
    {"title": "Business Analyst", "salary": 52000}
]

for job in jobs:
    if job["salary"] >= 50000:
        print(job["title"], "→ Good salary")
    else:
        print(job["title"], "→ Entry level")

Data Analyst → Entry level
Data Scientist → Good salary
Business Analyst → Good salary

Load Dataset in Pandas

In [10]:
import pandas as pd

df = pd.read_csv("/ds_salaries.csv")
df.head()

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

Understand the Dataset

In [11]:
df.shape

(607, 12)

In [12]:
df.columns

Index(['Unnamed: 0', 'work_year', 'experience_level', 'employment_type',
       'job_title', 'salary', 'salary_currency', 'salary_in_usd',
       'employee_residence', 'remote_ratio', 'company_location',
       'company_size'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 607 entries, 0 to 606
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          607 non-null    int64
 1   work_year           607 non-null    int64
 2   experience_level    607 non-null    object
 3   employment_type     607 non-null    object
 4   job_title           607 non-null    object
 5   salary              607 non-null    int64
 6   salary_currency     607 non-null    object
 7   salary_in_usd       607 non-null    int64
 8   employee_residence  607 non-null    object
 9   remote_ratio        607 non-null    int64
 10  company_location    607 non-null    object
 11  company_size        607 non-null    object
dtypes: int64(5), object(7)
memory usage: 57.0+ KB

In [14]:
df.describe()

       Unnamed: 0    work_year        salary  salary_in_usd  remote_ratio
count  607.000000   607.000000  6.070000e+02     607.000000     607.00000
mean   303.000000  2021.405272  3.240001e+05  112297.869852      70.92257
std    175.370085     0.692133  1.544357e+06   70957.259411      40.70913
min      0.000000  2020.000000  4.000000e+03    2859.000000       0.00000
25%    151.500000  2021.000000  7.000000e+04   62726.000000      50.00000
50%    303.000000  2022.000000  1.150000e+05  101570.000000     100.00000
75%    454.500000  2022.000000  1.650000e+05  150000.000000     100.00000
max    606.000000  2022.000000  3.040000e+07  600000.000000     100.00000